.blood-orange{
  width: 20%;
  height: 20%;
}

.container{
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

h2{
  text-align: center;
}

summary{
  background: #edf2ff; 
  padding: 15px; 
  outline: none; 
  border-radius: 50px;
  list-style-type: '⬇ ';
  margin: auto;
}
summary:hover{
  cursor: pointer;
}
.album-cover{
border-radius: 10px;
}

.album-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

